# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.sqlite3

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# app
app/logs/
app/media/payment/
app/v2ray-bin.zip

# Node
node_modules/
web/dist/


# OS
.DS_Store
Thumbs.db

# Docker
pgdata/
