{
  "inbounds": [
    {
      "port": {{ port }},
      "protocol": "{{ protocol }}",
      "listen": "{{ ip }}",
      "settings": {
        "clients": [
          {
            "id": "{{ uuid }}",
            "alterId": 0,
            "email": "{{ uuid }}@v2man.dev",
            "level": 0
          },
          {
            "id": "{{ uuid2 }}",
            "alterId": 0,
            "email": "{{ uuid2 }}@v2man.dev",
            "level": 0
          },
          {
            "id": "{{ uuid3 }}",
            "alterId": 0,
            "email": "{{ uuid3 }}@v2man.dev",
            "level": 0
          }
        ]
      }
    }
  ]
}
